*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
} 
body{
    display: flex;
   justify-content: center;
   align-items: center;
    background-color: white;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: rgb(237, 191, 224);
    border-radius: 5px;
    width: 400px;
    max-width: 100%;
    overflow: hidden;

}
.header{
    background-color: rgb(66, 77, 87);
    padding: 20px 40px;
    border-bottom: 1px solid rgb(92, 84, 69);
}
.header h2{
    margin: 0;
}
.field{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.field label{
    display: inline-block;
    margin-bottom: 5px;

}
.field input:not(.terms){
    display: block;
    border-radius: 4px;
    border: 2px salmon;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}
.field span{
    position: absolute;
    top: 30px;
    right: 10px;
    visibility: hidden;
}
.field small{
    position:absolute;
    bottom: 0px;
    left: 0;
    visibility: hidden;
}
.form .button{
    background-color: azure;
    border: 2px solid red;
   
    padding: 10px;
    display:block;
    width: 100%;
    font-size: 10px;
}
.field.success input{
    border-color: green;
}
.field.error input{
    border-color: red;
}
.field.success span.success{
    color:green;
    visibility: visible;
}
.field.error span.error{
    color: red;
    visibility: visible;
}
.field.error span.success{
    visibility: none;
}
.field.success span.error{
    visibility: none;
}
.field.error small{
    visibility: visible;
    color: red;
}